/*
    CASO DESEJE REALIZAR A ALTERAÇÃO DAS CORES NA BORDA DA IMAGEM DO MISSIONÁRIO E DEIXAR PARECIDO COM A BANDEIRA DO PAÍS/ESTADO, PODE SER ALTERADO NA LINHA 8.

    -> 165deg = ALTERA O ANGULO DAS CORES;
    -> rgba(0, 0, 0, 0) 0%, 0% = CADA UM DESSE SIGNIFICA UMA COR (DEFINIDO NO RGBA), SEGUIDO POR QUAL LOCAL COMEÇA, E POR QUAL LOCAL TERMINA.
    EX:
        rgba(9, 126, 121, 1) 0%, 33% = DEFINI QUE A COR É UM VERDE, QUE COMEÇA NO 0% DA BORDA, E VAI ATÉ O 33%
*/

.missionaryPicture {
    border: 10px solid transparent;
    border-radius: 15px;
    background: linear-gradient(180deg,
     #01923f 0%, 20%, 
     #f8c301 20%, 35%, 
     #2a176f 35%, 45%, 
     #fff 45%, 50%, 
     #2a176f 50%, 60%, 
     #f8c301 60%, 75%, 
     #01923f 75%);
    background-clip: padding-box;
    padding: 15px;
    border-radius: 50px;
    width: 70%;
}

.flag {
    width: 30%;
    border: 5px solid #00000083;
    border-radius: 15px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}